form {
  position: relative;
  max-width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  width: 100%;
  border: none;
  margin: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form input {
  font-weight: 600;
}

form textarea {
  font-size: 1.1em;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #00c0a6;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

form button:hover {
  background: #009e89;
}

form button:active {
  background: #00d0b5;
}
