header {
  background-color: #00c0a6;
  /* margin: auto -16px; */
  padding: 16px 22px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}
