.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 13px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h2 {
  font-size: 1.2em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  float: right;
  margin-top: 10px;
  color: #00c0a6;
  border: none;
  cursor: pointer;
  background-color: inherit;
}

.note button:hover {
  color: #009e89;
}

.note button:active {
  color: #00d0b5;
}