.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 13px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note h2 {
  font-size: 1.2em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  /* margin-bottom: 10px; */
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  /* position: relative; */
  float: right;
  margin-top: 10px;
  color: #00c0a6;
  border: none;
  /* width: 36px; */
  /* height: 36px; */
  cursor: pointer;
  /* outline: none; */
  background-color: inherit;
}